
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual envs
.venv/
venv/
ENV/

# OS/editor
.DS_Store
*.swp
.vscode/
.idea/

# Django
*.sqlite3
__pycache__/
*.py[cod]
.env
/staticfiles/
/media/
